[submodule "files/dot/.vim/bundle/foundation"]
	path = files/dot/.vim/bundle/foundation
	url = https://github.com/adamdude828/foundation.git
[submodule "files/dot/.vim/bundle/nerdtree"]
	path = files/dot/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "DO/DigitalOcean"]
	path = DO/DigitalOcean
	url = https://github.com/toin0u/DigitalOcean
